<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588976083194-onmsic5t3gl9s9l6m8t6u8ullnhkogog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588976083194-onmsic5t3gl9s9l6m8t6u8ullnhkogog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588976083194-6a8rvjbtqe0s334sflgju5h8f6aph0v4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByPp0OSjSK9WrVmlE3bV1Bg2VOIHd0Hms</string>
	<key>GCM_SENDER_ID</key>
	<string>588976083194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiranawala.test1</string>
	<key>PROJECT_ID</key>
	<string>oshop-21421</string>
	<key>STORAGE_BUCKET</key>
	<string>oshop-21421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588976083194:ios:c08cfb22a8e514097b7943</string>
	<key>DATABASE_URL</key>
	<string>https://oshop-21421.firebaseio.com</string>
</dict>
</plist>